.postContainer {
  padding: 0.8rem;
  border-style: solid;
  border-color: #eff3f4;
  border-width: 0px 0 1px 0;
}

.postActions {
  display: flex;
  justify-content: space-between;
  padding: 1rem 4rem 0rem 4rem;
}

.postActions svg {
  font-size: 1.25rem;
  padding: 0;
  color: #667581;
}

.postActions > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;

  color: #667581;
}

.post {
  display: flex;
  gap: 0.5rem;
}

.postContents {
  flex-grow: 1;
}

.photoContainer {
  display: flex;
  /* flex-basis: 64px; */
  /* padding-right: 1rem; */
  flex-shrink: 0;
  width: 64px;
  height: 64px;
  position: relative;
}

.photo {
  border-radius: 50%;
}

.photoContainer .image {
  width: 100%;
  height: 100%;
  position: relative !important;
}

.postNameRow {
  display: flex;
  flex-grow: 1;
}

.postNameRow > div:first-child {
  display: flex;
  flex-grow: 1;
}

.postContainer {
  cursor: pointer;

  transition: 0.1s;
}

.postContainer:hover {
  background-color: #f7f7f7;
  transition: 0.25s;
}

.displayName {
  font-weight: bold;
  color: black;
}

.displayName:hover {
  text-decoration: underline;
}

/* ICONS */

.repliesIconHolder {
  color: #1d9bf0;
}

.repliesIconHolder:hover span,
.repliesIconHolder:hover svg {
  color: #1d9bf0;
}

.repostsIconHolder:hover span,
.repostsIconHolder:hover svg {
  color: #38c798;
}

.likesIconHolder:hover span,
.likesIconHolder:hover svg {
  color: #f91880;
}

.sharesIconHolder:hover span,
.sharesIconHolder:hover svg {
  color: #1d9bf0;
}

/* Spacing between icons and count number */
.postActions > * > span {
  padding: 0 0.2rem;
}

.datePosted:hover {
  text-decoration: underline;
}

.postNameRow {
  color: #5d6d79;
}
